body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
}

#charts {
    margin-top: 20px;
}

#sensorConfiguration {
    margin-top: 20px;
}

#recordDataSection {
    margin-top: 20px;
}

select {
    padding: 10px;
    font-size: 16px;
}
